<ul class="pa0">
   <li class="list di">
     {{with .Prev}}
     <a href="{{.Permalink}}" title="{{.Title}}" class="link f5 grow no-underline br-pill ba ph3 pt1 dib black sans-serif">
       <svg class="fill-current" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
         <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path><path d="M0 0h24v24H0z" fill="none"></path>
       </svg>
     </a>
     {{end}}

     {{with .Next}}
     <a href="{{.Permalink}}" title="{{.Title}}" class="link f5 grow no-underline br-pill ba ph3 pt1 dib black sans-serif">
       <svg class="fill-current" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
         <path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path><path d="M0 0h24v24H0z" fill="none"></path>
       </svg>
     </a>
     {{end}}
   </li>
</ul>
